<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tech_Challenge</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Tech_Challenge</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item ml-3 mr-2">
                            <a class="btn btn-warning" asp-area="" asp-controller="Atms" asp-action="Index">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="60px" viewBox="0 0 81 65" xml:space="preserve">
                                <g>
                                <path fill="#FFFFFF" d="M51.324,53.28c-2.438,1.903-5.711,3.044-9.518,3.351v4.414h-4.339v-4.414
			                    c-3.351-0.307-6.549-1.525-8.985-3.351C24.903,50.462,23,46.503,23,41.631h6.396c0,4.645,2.969,7.993,8.07,8.755V35.768
			                    c-7.081-1.598-13.4-4.796-13.4-12.41c0-7.004,5.254-11.953,13.4-12.714V6h4.339v4.719c8.375,0.839,13.322,6.474,13.322,13.934
			                    h-6.471c0-4.341-2.436-7.081-6.852-7.766v13.324c9.212,2.056,14.541,5.024,14.541,12.94C56.347,47.267,54.596,50.843,51.324,53.28
			                    z M37.467,16.887c-4.417,0.609-7.006,2.971-7.006,6.319c0,2.588,1.676,4.491,7.006,6.016V16.887z M41.806,36.681v13.705
			                    c5.633-0.609,8.068-3.427,8.068-7.079C49.875,40.564,48.962,38.433,41.806,36.681z" style="fill: rgb(255, 255, 255);"></path>

	                        </g>
                            </svg>
                            </a>
                        </li>
                        <li class="nav-item ml-3">
                            <a class="btn btn-success" asp-area="" asp-controller="Farmacias" asp-action="Index">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="60px" viewBox="0 0 81 65" xml:space="preserve">
                                    <g>
                                        <polygon fill="#FFFFFF" points="64.133,41.807 48.142,41.807 48.142,57.8 32.147,57.8 32.147,41.807 14.553,41.807
				                        14.553,25.815 32.147,25.815 32.147,8.221 48.142,8.221 48.142,25.815 64.133,25.815 			" style="fill: rgb(255, 255, 255);"></polygon>
                                    </g>
                                </svg>
                            </a>
                        </li>
                        <li class="nav-item ml-3">
                            <a class="btn btn-info" asp-area="" asp-controller="Bibliotecas" asp-action="Index">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="60px" viewBox="0 0 81 65" xml:space="preserve">
                                <g>
                                <path fill="#FFFFFF" d="M67.244,10.062H49.436c-5.801,0-8.663,1.353-10.094,2.784c-1.355-1.432-4.214-2.784-10.097-2.784H11.44
			                    c-0.875,0-1.315,0.659-1.315,1.531v42.212c0,0.872,0.52,1.838,1.315,1.838h0.162h9.457h8.186c3.737,0,7.553,1.241,7.553,1.479l0,0
			                    c0.795,0.556,0.795,0.204,1.51,0.204h2.064c0.798,0,0.798,0.352,1.514-0.364c0.162-0.238,3.975-1.319,7.47-1.319h8.271h9.457
			                    h0.159c0.872,0,1.12-1.046,1.12-1.838V11.593C68.364,10.721,68.116,10.062,67.244,10.062z M37.132,15.647V54.28
			                    c0,0-3.355-2.016-7.807-2.016c-1.11,0-16.673,0-16.673,0V12.594c0,0,15.637,0,16.673,0C37.908,12.594,37.132,15.647,37.132,15.647
			                    z" style="fill: rgb(255, 255, 255);"></path>
                                <rect x="18.14" y="31.868" fill="#FFFFFF" width="13.506" height="1.688" style="fill: rgb(255, 255, 255);"></rect>
                                <rect x="18.14" y="27.453" fill="#FFFFFF" width="13.506" height="1.688" style="fill: rgb(255, 255, 255);"></rect>
                                <rect x="18.14" y="36.283" fill="#FFFFFF" width="13.506" height="1.688" style="fill: rgb(255, 255, 255);"></rect>
                                <rect x="18.14" y="40.693" fill="#FFFFFF" width="13.506" height="1.689" style="fill: rgb(255, 255, 255);"></rect>
                                    </g>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - Tech_Challenge - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
